.App {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.App-logo {
  /* height: 30vmin; */
  height: 120px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #a847b5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
} */


.contaner {
  display: flex;
  justify-content: left;
  text-align: left;
  margin-top: 30px;
}

.bluetext {
  color: #61abfb;
  margin-top: 10px;
  margin-bottom: 0;
}

.profile img {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-top: 0;
}

.profile {
  color: rgb(132, 132, 132);
  justify-content: left;
  /* align-items: center; */
}

.textbox {
  margin-left: 20px;
}

.textbox h2 {
  color: rgb(42, 42, 42);
  margin-top: 0;
  margin-bottom: 0;
}

.textbox p {
  margin-top: 5px;
}