.App {
  text-align: center;
}


.con {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.active{
  background-color: aqua;
}